
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    
}
body{
    border:solid red;
    min-height: 100vh;  
    background-color: seagreen;     
    display:flex;
    justify-content: center;
    align-items: center;
}

.loginWrapper{
    width:420px;
    background: purple;
    color: #fff;
}
.loginWrapper h1{
    font-size: 36px;
    text-align: center;
}
.loginWrapper .input